body{
  display:flex;
  flex-direction:column;
  align-items:center;
  font-family:sans-serif;
  background:#222;
  color:white;
}

canvas{
  background:black;
  border:2px solid white;
  margin-top:10px;
}

button{
  padding:8px 20px;
  cursor:pointer;
  margin-top:10px;
}
